apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommendation-client
  namespace: product-engine
  labels:
    app: recommendation-client
spec:
  replicas: 1
  selector:
    matchLabels:
      app: recommendation-client
  template:
    metadata:
      labels:
        app: recommendation-client
    spec:
      containers:
      - name: client
        image: ghcr.io/deepsutariya346/recommendation-client:latest
        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: app-secrets
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "250m"
